.modal-wrapper {
    background-color: ghostwhite;
    font-family:'Sriracha';
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 20%;
    margin-top: 10%;
    position: absolute;
    top: 60px;
    left: 800px;
    right: 350px;
    bottom: 40px;
    
}

.modal-header {
    font-family:'Cabin Sketch';
    color: ghostwhite;
    height: 40px;
    line-height: 40px;
    text-align: auto;
    border: none;
    
    
}

.modal-header h3 {
    color: ghostwhite;
    font-size: 19px;
    float: left;
    margin: 0;
    padding: 0;
    
}

.modal-body {
    padding: 10px 15px;
    text-align: center;

    top: 90px;
   
}

.modal-footer {
    height: 35px;
    padding: 15px;
    margin-top: 160%;
    border: none;
}

.close-modal-btn {
    color: ghostwhite;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
    
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background-color: rgba(48, 49, 48, 0.42);
    border: none;
    color: ghostwhite;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
    
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: relative;
    transition: all 1.3s;
    width: 100%;
}


/*Search Box*/
.open-modal-btn {
    font-family:'Cabin Sketch';
    color: ghostwhite;
    margin: 15px;
    padding: 10px;
    font-weight: bold;
    float: relative;
    width: 10%;
    font-size: 20px;
    background-color: rgba(48, 49, 48, 0.42);
    position: absolute;
    top: 18%;
    left: 800px;
    right: 50px;
   
}
