.wrapper{
    position: absolute;
    width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    background-image: url(https://cdn.pixabay.com/photo/2015/03/24/08/52/beetroot-687251__480.jpg);
    /* background-image: url(https://cdn.pixabay.com/photo/2017/07/18/16/35/zucchini-2516276_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2017/06/28/11/51/tomato-2450370_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2018/04/22/10/58/food-3340732__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2018/11/25/17/27/kohlrabi-3837895_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2019/02/12/03/49/tomatoes-3991279_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2018/08/10/13/11/apricots-3596803__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2016/08/05/22/16/chinese-cabbage-kohlrabi-1573401__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2017/09/13/22/44/red-cabbage-2747356__480.jpg); */
    background-image: url(https://cdn.pixabay.com/photo/2017/10/26/18/39/peaches-2892013__480.jpg);
    /* background-image: url(https://cdn.pixabay.com/photo/2016/07/09/12/16/apple-1506119__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2014/04/24/11/46/watermelon-331284_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2016/11/29/07/24/apples-1868076__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2016/09/25/15/34/texture-1693926__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2017/08/06/10/38/bread-2591143__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2016/09/06/14/59/plums-1649316__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2016/03/01/20/28/easter-eggs-1231120_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2015/05/31/12/16/eggs-791463__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2016/05/15/19/48/strawberry-1394304_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2016/07/11/05/55/cherries-1509127__480.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2014/10/31/20/39/braid-511033__480.jpg); */


    background-size: cover;
    background-repeat: no-repeat;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}