.App {
  text-align: center;
  height: -webkit-fill-available;
  background-image: url(https://cdn.pixabay.com/photo/2015/03/24/08/52/beetroot-687251__480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.App-header {
  
  height: 300px;
  padding: 20px;
  color: yellowgreen;
  width: 50%;
}

.App-intro {
  font-size: large;
  width: 50%;
}


