@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.App {
  text-align: center;
  width: 100%;
  height:  -webkit-fill-available;
  
}
span{
  font-family: 'Cabin Sketch', cursive;
  font-size: 28px;
  font-weight: 700;
}

h1{
  font-family:'Sriracha';
}

.App-header {
  margin-top: 250px;
  height: 300px;
  padding: 20px;
  color:ghostwhite;
  width: 50%;
  font-size: 22px;
  text-align: center;
}

.App-intro {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  width: 50%;
  margin-top: 80px;
  
}

.btn.btn-success{
  font-family:'Sriracha';
  font-size: 20px;
}

