.containerSignup,
.containerLogin{
    width: 50%;
    background-color: gold;
    /* background-color:yellowgreen; */
    /* mix-blend-mode: hard-light; */
    padding: 40px 100px 5px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 120px;
    color: white;
    font-size: 22px;
    border-radius: 1.5%;

}



