@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Sriracha&display=swap');

.navbar-brand{
    font-family: 'Cabin Sketch', cursive;
    color: yellow;
    font-size: 60px;
    margin-left: 0;
}

.nav-link{
    color: yellow;
}